body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
}
.form-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.heading {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
  font-size: large;
}
h3 {
  font-weight: 100;
}
.form-container > div {
  flex: 0 0 calc(33.33% - 20px);
  margin-right: 20px;
}
.form-container label {
  display: block;
  font-size: small;
  margin-bottom: 5px;
}
.form-container input[type="text"], .form-container input[type="number"] {
  width: calc(100% - 10px);
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid white;
  background-color: black;
  color: white;
  border-radius: 2px;
}
/* .form-container input[type="submit"] {
  width: 150px;
  padding: 10px;
  margin-top: 10px;
  border: none;
  background-color: white;
  color: black;
  cursor: pointer;
  border-radius: 2px;
} */
.form-container button {
  width: 150px;
  padding: 12px 10px;
  margin-top: 10px;
  border: none;
  background-color: white;
  color: black;
  cursor: pointer;
  border-radius: 2px;
}
.success-message {
  color: green;
  margin-bottom: 10px;
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
}
.error-message {
  color: red;
  margin-bottom: 10px;
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
}
.employee-list {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  /* margin-top: 20px; */
}
.employee {
  width: 50%;
  font-size: small;
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
}
.employee button {
  background-color: white;
  color: black;
  width: 100px;
  border: none;
  /* padding: 5px 5px; */
  cursor: pointer;
  border-radius: 2px;
}
#employees-message {
  width: 80%;
  margin: 0 auto;
  font-size: small;
  color: #ccc;
  font-weight: 100;
}